{% extends 'home/base.html' %}
{% load static %}
{% block body %}
<title>Home</title>

<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>


<body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'home:addappointment' %}">Appointments</a>
      <a href="{% url 'home:doctor_list' %}">Doctors</a>
      <a href="{% url 'home:user-update' %}">Edit Profile</a>
    </div>

    <p style="font-family: 'Lobster';font-size: 40px;">Welcome {{ request.user.username }}</p>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
    <div class="container-fluid text-center">
      <div class="row content">
        <div class="container">
            <!--{% if not appointments%}-->
                <!--<h2 align="left">No Appointments</h2>-->
            <!--{% else %}-->
                <h2 align="left">Your Appointments</h2>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Message</th>
                      </tr>
                    </thead>
                <tbody>
                {% for c in appointments %}
                  <tr>
                    <td>{{ c.Doctor }}</td>
                    <td>{{ c.Date }}</td>
                    <td>{{ c.status }}</td>
                    <td>{{ c.message }}</td>
                    <td>
                      <form action="{% url 'home:deleteappointment' c.id %}" method="post">{% csrf_token %}
                        <button type="submit" class="btn btn-danger" value="Delete"> Delete </button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
            <!--{% endif %}-->
          </table>
        </div>
      </div>
    </div>

</body>

{% endblock %}
